/* SETTINGS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
}

*{
    font-family: Poppins;
}

/* HEADER */

.navbar{
    background-color: #FF6900;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.42);
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justifycon-spacebetween{
    justify-content: space-between;

}

.justifycon-center{
    justify-content: center;
}

.alignitems-center{
    align-items: center;
}

.menu-icons{
    display: inline-block;
    max-width: 20px;
}

.icons-container{
    display: flex;
    justify-content: flex-end;
}

.logo{
    max-width: 140px;
    padding: 18px 0;
}

.col-4{
    flex-basis: calc(100% / 12 * 3);
}



.menu-items{
    color: white;
    font-weight: 600;
}

.logo-container{
    display: flex;
    justify-content: center;
}

.col-card{
    flex-basis: calc((100% - 30px) / 12 * 4);
    position: relative;
}

.shopping-card{
    gap: 100px 15px;
}

.shopping > .container{
    padding: 60px 0;
}

.info-card{

}

.cinquanta{

}

.trenta{

}

.sostenibilità{
    
}