/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* HEADER */

.navbar{
    height: 70px;
    background-color: #FF6900;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.42);
    position:fixed
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justifycon-spacebetween{
    justify-content: space-between;

}

.justifycon-center{
    justify-content: center;
}

.alignitems-center{
    align-items: center;
}

.menu-icons{
    display: inline-block;
}
